{% extends ('base.html') %}
{% block head %} 
<title> Motune's Blog </title>
{% endblock %}

{% block body %} 
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to the Motune Blog! Here we'll be talking about everything computer science. web development, and machine learning in an exciting manner</p>
        <p>
            <a class="btn btn-primary" href="/posts/" role="button">Go To Posts &raquo;</a>
        </p>
    </div>
</div>

{% endblock %}